---
---
@import url(//fonts.googleapis.com/css?family=Montserrat);
//@import url(//fonts.googleapis/com/css?family=Open+Sans);

//@import "{{site.url}}/assets/css/theme.scss";
@import 'variables';
//@import "{{ site.theme }}";
@import 'theme';

// overrides to style
body {
  text-shadow: none;
}

//h1 {
//    color: #303030;
//}

ul li {
  padding-left: 0px;
  padding-left: 8px;
  padding-right: 8px;
}

figcaption {
  text-align: center;
  margin-bottom: 15px;
  font-style: italic;
}

.inner {
 	max-width: $site_width;
	width: 100%;
 }


.main-nav ul {
	margin: 0 auto 0 auto;
	padding: 0;
	list-style: none;
	float: right;
  text-align: center;
}

.main-nav li,
.main-nav li li,
.main-nav a {
  display: inline-block;
  list-style: none;
  vertical-align: middle;
  height: 100%;
}

// .main-nav li a {
// 	padding: 10px;
// }

a.active {
	color: #FFE000;
}

div.flex-row {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.general-centred-para {
  text-align: center;
}

.embedded-video-div {
    text-align: center;
    //border: 1px solid red;
}

// .embedded-video {
//   align: middle;
//   display: block;
//   margin-left: auto;
//   margin-right: auto;
//   border: 1px solid red;
// }

// .general-centred-imagex {
//   width: 100%;
//   border: 1px solid red;
//   display: block;
// }

.iframe-container {
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}

.iframe-container iframe {
   position: absolute;
   border: 0;
   left: 0;
   top: 0;
   height: 100%;
   width: 100%;
}

/* 4x3 Aspect Ratio */
.iframe-container-560x315 {
  padding-top: 59.4%;
}

.topmenu-navbar {
  overflow: hidden;
  //background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-left: auto;
  margin-right: auto
}

.topmenu-navbar a {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  float: left;
  font-size: 16px;
  color: #303030;
  text-align: center;
  //padding: 14px 16px;
  text-decoration: none;
  vertical-align: middle;
  height: 40px;
  line-height: 40px;
}

.topmenu-dropdown {
  float: left;
  overflow:hidden;
}

.topmenu-dropdown .topmenu-dropbtn {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  //text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  font-size: 16px;
  border: none;
  outline: none;
  color: #303030;
  padding: 8px 8px;
  background-color: inherit;
  //margin: 0;
  height: 40px;
}

.topmenu-navbar a:hover, .topmenu-dropdown:hover .topmenu-dropbtn {
  background-color: red;
}

.topmenu-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.topmenu-dropdown-content a {
  float: none;
  color: black;
  padding: 10px 8px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topmenu-dropdown-content a:hover {
  background-color: #ddd;
}

.topmenu-dropdown:hover .topmenu-dropdown-content {
  display: block;
}

.streetart_btn-red, .streetart_btn-blue, .streetart_btn-green {
  position: absolute;
  border: solid 2pt #FFFB;
  //border: none;
  background-color: transparent;
  border-radius: 5%;
  transition: 1s;
}
.streetart_btn-red:hover {
  border: none;
  background-color: #FBBB;
}
.streetart_btn-blue:hover {
  border: none;
  background-color: #BFBB;
}
.streetart_btn-green:hover {
  border: none;
  background-color: #BBFB;
}

.transparent_until_hover {
  opacity: 0.0;
  transition: 1s;
}

.transparent_until_hover:hover {
  opacity: 1.0;
}

.height-limited-image-200 {
  width: 40%;
  height: 200px;
  margin: 20px;
}

.expanding-image-button {
  width: 90%;
  margin: 0px;
  padding: 0px;
  border: 0px;
  border-radius: 10px;
  transition: 0.5s;
}


.expanding-image-button:hover {
  width: 95%;
}

.gallery-pseudo-bullet-pt {
  margin: 6px 0px;
}

.gallery-outer-row {
  display: flex;
  flex-wrap: wrap;
}

.gallery-column {
  flex: 48%;
  max-width: 48%;
  margin: 4px;
}

@media only screen and (max-width: 449px) {
  h1 {
      //color: red;
      font-size: 120%;
      text-align: center;
  }
  p {
    font-size: 90%;
  }
  .topmenu-dropdown .topmenu-dropbtn {
    padding: 4px 4px;
    height: 40px;
  }
  .phenotypica-image {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0px 10px 0px;
  }

  .gallery-column {
    flex: 100%;
    max-width: 100%;
  }

  .general-centred-image {
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
  }

  .general-centred-image-75 {
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
  }

  .general-centred-image-50 {
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    border: solid 1px #F00;
  }

  .general-left-image {
    padding: 20px;
    float: left;
    //border: 1px solid green;
  }

  .images-horizontal-clearfix::after {
    content: "";
    clear: both;
    display: table;
    box-sizing: border-box;
  }

  .three-images-horizontal {
    float: left;
    width: 33.33%; /* three containers (use 25% for four, and 50% for two, etc) */
    padding: 5px; /* if you want space between the images */
    box-sizing: border-box;
  }
}

@media only screen and (min-width: 450px) and (max-width: 767px) {
  .div.two-column {
  }

  .phenotypica-image {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0px 10px 0px;
  }

  .general-centred-image {
    display: block;
    padding: 10px 0px 10px 0px;
    //margin: 10px auto 0px auto;
    width: 100%;
  }

  .general-centred-image-75 {
    padding: 10px;
    box-sizing: border-box;
    width: 75%;
  }

  .general-centred-image-50 {
    padding: 10px;
    box-sizing: border-box;
    width: 50%;
  }

  .general-left-image {
    padding: 20px;
    float: left;
    //border: 1px solid blue;
  }

  .images-horizontal-clearfix::after {
    content: "";
    clear: both;
    display: table;
    box-sizing: border-box;
  }
}

@media only screen and (min-width: 768px) {
  div.two-column {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 20px; /* Chrome, Safari, Opera */
    -moz-column-gap: 20px; /* Firefox */
    column-gap: 20px;
    // -webkit-column-rule-style: solid; /* Chrome, Safari, Opera */
    // -moz-column-rule-style: solid; /* Firefox */
    // column-rule-style: solid;
    // -webkit-column-rule-width: 1px; /* Chrome, Safari, Opera */
    // -moz-column-rule-width: 1px; /* Firefox */
    // column-rule-width: 1px;
  }

  .phenotypica-image {
    width: 40%;
    display: block;
    padding: 10px 0px 10px 0px;
    margin-left: auto;
    margin-right: auto;
  }

  %general-centred-image-shared {
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
  }

  .general-centred-image {
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
  }

  .general-centred-image-75 {
    padding: 10px;
    box-sizing: border-box;
    width: 75%;
  }

  .general-centred-image-50 {
    padding: 10px;
    box-sizing: border-box;
    width: 50%;
  }

  .general-centred-image-50 {
    //display: block;
    padding: 10px;
    //margin: 10px;
    //border: 1px solid blue;
    box-sizing: border-box;
    width: 50%;
  }

  .general-left-image {
    margin-left: auto;
    margin-right: auto;
    display: block;
    //border: 1px solid red;
  }

  .images-horizontal-clearfix::after {
    content: "";
    clear: both;
    display: table;
    box-sizing: border-box;
  }
}
